@layer base {
    ::-webkit-scrollbar {
        width: 4px;
    }
    
    ::-webkit-scrollbar-track {
        background: #ebeaf6;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #c4c1e4;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #b0addc;
    }
    
    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #d7d6ed #f1f1f1;
    }
}